.body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  font-size: 14px;

  font-family: $main-font-family;
  color: $primary-text-color;
  letter-spacing: 0.03em;
  line-height: 1.7;

  background-color: $white-color;
}
